// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  width: 80%;
  margin: auto;

  &>h1 {
    text-align: center;
  }

  .articles {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  .article {
    background-color: #f5f5f5;
    padding: 15px;
    box-sizing: border-box;

    flex-basis: calc(94%/3);
    margin: calc(6%/6);

    @media all and (max-width: 1000px){
        flex-basis: calc(96%/2);
        margin: calc(4%/4);
    }

    @media all and (max-width: 700px){
        flex-basis: 98%;
        margin: 1%
    }

    h1 {
      font-size: 1.5em;
      font-weight: 700;
      text-align: center;
      margin: 0;

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      font-size: 1em;
    }
  }

}
